{% extends 'content/base.html' %}
{%load static%}

{%block content%}
<body>
    <div class="home">
      <div class="home-child"></div>
      <div class="frame-parent">
        <div class="frame-group">
          <div class="ellipse-parent">
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
          </div>
          <div class="ellipse-parent">
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
          </div>
          <div class="ellipse-parent">
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
          </div>
          <div class="ellipse-parent">
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
          </div>
          <div class="ellipse-parent">
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
          </div>
          <div class="ellipse-parent">
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
          </div>
          <div class="ellipse-parent">
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
            <div class="frame-child"></div>
          </div>
        </div>
        <div class="frame-container">
          <div class="ellipse-parent">
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
          </div>
          <div class="ellipse-parent">
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
          </div>
          <div class="ellipse-parent">
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
          </div>
          <div class="ellipse-parent">
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
          </div>
          <div class="ellipse-parent">
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
          </div>
          <div class="ellipse-parent">
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
          </div>
          <div class="ellipse-parent">
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
            <div class="frame-child53"></div>
          </div>
        </div>
        <img
          class="shiv-singh-vj-j5xnjnxa-unsplas-icon"
          alt=""
          src="./public/shivsinghvjj5xnjnxaunsplash-1@2x.png"
        />
      </div>
      <div class="content">
        <div class="content1">
          <div class="restaurant">RESTAURANT</div>
          <div class="group-parent">
            <img class="group-icon" alt="" src="./public/group-1.svg" />

            <div class="frame-parent1">
              <div class="the-parent">
                <b class="the">The</b>
                <b class="one">#One</b>
              </div>
              <b class="the">
                <span>Momo </span>
                <span class="love-us">Restaurant</span>
              </b>
            </div>
          </div>
          <div class="more-than-parent">
            <div class="more-than">More than</div>
            <b class="varieties">20+ Varieties</b>
            <div class="more-than">of momo available for you</div>
          </div>
        </div>
        <div class="button">
          <div class="large-button">Explore Food Menu</div>
          <img
            class="outlinearrow-right-icon"
            alt=""
            src="./public/outlinearrowright.svg"
          />
        </div>
      </div>
      <div class="about-us">
        <div class="group-container">
          <div class="rectangle-parent">
            <div class="group-child"></div>
            <div class="group-item"></div>
            <div class="group-inner"></div>
          </div>
          <img class="pngwing-1-icon" alt="" src="./public/pngwing-1@2x.png" />
        </div>
        <div class="about-us1">
          <div class="heading">
            <b class="the">
              <span>Why Customers </span>
              <span class="love-us">Love Us</span>
            </b>
          </div>
          <div class="lorem-ipsum-dolor">
            Lorem ipsum dolor sit amet consectetur. Sed diam dolor vivamus nibh
            fermentum vulputate tortor. Egestas facilisi luctus turpis arcu
            dignissim. Amet neque enim etiam purus id. Tortor sit orci blandit
            cursus turpis.
          </div>
          <div class="button1">
            <div class="large-button">Explore Our Story</div>
            <img
              class="outlinearrow-right-icon"
              alt=""
              src="./public/outlinearrowright1.svg"
            />
          </div>
        </div>
      </div>
      <div class="our-recepies">
        <div class="our-most-popular-recipes-parent">
          <b class="the">
            <span>Our </span>
            <span class="love-us">Most Popular</span>
            <span> Recipes</span>
          </b>
          <div class="browse-through-a">
            Browse through a varieties of recipes with fresh ingredients
            selected only from the best places
          </div>
        </div>
        <div class="frame-parent2">
          <div class="buff-wrapper">
            <div class="more-than">Buff</div>
          </div>
          <div class="chicken-wrapper">
            <div class="more-than">Chicken</div>
          </div>
          <div class="chicken-wrapper">
            <div class="more-than">Veg</div>
          </div>
        </div>
        <div class="arrow-parent">
          <div class="arrow">
            <img
              class="arrow-arrow-right-md"
              alt=""
              src="./public/arrow--arrow-right-md.svg"
            />
          </div>
          <div class="menu-parent">
            <div class="menu">
              <div class="steam-momo">
                <img
                  class="pngwing-2-icon"
                  alt=""
                  src="./public/pngwing-2@2x.png"
                />
              </div>
              <div class="content2">
                <b class="buff-fry-momo">Buff Momo</b>
                <div class="nepalese-rupee-parent">
                  <img
                    class="arrow-arrow-right-md"
                    alt=""
                    src="./public/nepalese-rupee.svg"
                  />

                  <b class="the">150</b>
                </div>
              </div>
            </div>
            <div class="menu">
              <div class="steam-momo">
                <img
                  class="pngegg-1-icon"
                  alt=""
                  src="./public/pngegg-1@2x.png"
                />
              </div>
              <div class="content2">
                <b class="buff-fry-momo">Buff Fry Momo</b>
                <div class="nepalese-rupee-parent">
                  <img
                    class="arrow-arrow-right-md"
                    alt=""
                    src="./public/nepalese-rupee.svg"
                  />

                  <b class="the">180</b>
                </div>
              </div>
            </div>
            <div class="menu">
              <div class="steam-momo">
                <img
                  class="chilli-momo-icon"
                  alt=""
                  src="./public/chillimomo@2x.png"
                />
              </div>
              <div class="content2">
                <b class="buff-fry-momo">Buff C. Momo</b>
                <div class="nepalese-rupee-parent">
                  <img
                    class="arrow-arrow-right-md"
                    alt=""
                    src="./public/nepalese-rupee1.svg"
                  />

                  <b class="the">200</b>
                </div>
              </div>
            </div>
          </div>
          <div class="arrow">
            <img
              class="arrow-arrow-right-md"
              alt=""
              src="./public/arrow--arrow-left-md.svg"
            />
          </div>
        </div>
        <div class="button2">
          <div class="large-button">Explore Our Menu</div>
          <img
            class="outlinearrow-right-icon"
            alt=""
            src="./public/outlinearrowright2.svg"
          />
        </div>
      </div>
      <div class="our-services">
        <div class="heading1">
          <b class="the">
            <span>We Offer People</span>
            <span class="the-service-they"> The Service They Want</span>
          </b>
        </div>
        <div class="video">
          <img class="image-icon" alt="" src="./public/image@2x.png" />

          <div class="shadow"></div>
          <div class="content-parent">
            <div class="content5">
              <b class="the">Process behind the making</b>
              <div class="see-how-only">
                See how only chefs cooks only the best momos
              </div>
            </div>
            <div class="button3">
              <img
                class="boldplay-circle-icon"
                alt=""
                src="./public/boldplaycircle.svg"
              />

              <div class="large-button">Watch the Video</div>
              <div class="outlinearrow-right"></div>
            </div>
          </div>
        </div>
        <div class="our-services1">
          <div class="services-container">
            <div class="service">
              <img class="quality-icon" alt="" src="./public/quality.svg" />

              <b class="the">Quality Food</b>
              <div class="only-the-best">
                Only the best food with top quality products and ingredients
              </div>
            </div>
            <div class="service">
              <img class="quality-icon" alt="" src="./public/party.svg" />

              <b class="the">Private Party</b>
              <div class="only-the-best">
                Get the best food for all your private parties and gatherings
              </div>
            </div>
            <div class="service">
              <img class="quality-icon" alt="" src="./public/chef.svg" />

              <b class="the">Categring</b>
              <div class="only-the-best">
                Get the best food for any occasions and gatherings
              </div>
            </div>
          </div>
          <div class="button1">
            <div class="large-button">Explore Our Services</div>
            <img
              class="outlinearrow-right-icon"
              alt=""
              src="./public/outlinearrowright3.svg"
            />
          </div>
        </div>
      </div>
      <div class="testimonials">
        <div class="heading-parent">
          <div class="heading2">
            <b class="the">
              <span>200+ </span>
              <span class="love-us">Happy Customers</span>
            </b>
            <b class="what-our-customers">What our customers say about us</b>
          </div>
          <div class="quote">
            <i class="only-the-best3"
              >“Only the best momo you can find in the market. Different
              Varieties of momo to choose from. Will be visiting again soon”</i
            >
            <b class="livia-dias">Livia Dias</b>
          </div>
          <div class="ellipse-parent">
            <div class="arrow2">
              <img
                class="arrow-arrow-right-md"
                alt=""
                src="./public/arrow--arrow-right-md1.svg"
              />
            </div>
            <div class="arrow2">
              <img
                class="arrow-arrow-right-md"
                alt=""
                src="./public/arrow--arrow-left-md1.svg"
              />
            </div>
          </div>
        </div>
        <img
          class="testimonials-child"
          alt=""
          src="./public/rectangle-8@2x.png"
        />
      </div>
      <div class="heading-group">
        <div class="content5">
          <b class="the">
            <span>Get </span>
            <span class="love-us">In Touch</span>
          </b>
          <b class="what-our-customers"
            >Our Friendly team would love to hear from you</b
          >
        </div>
        <div class="frame-parent3">
          <div class="frame-parent4">
            <div class="frame-parent5">
              <div class="boldlocation-parent">
                <img
                  class="outlinearrow-right-icon"
                  alt=""
                  src="./public/boldlocation.svg"
                />

                <div class="more-than">Our Address</div>
              </div>
              <i class="new-baneshwor-kathmandu"
                >New Baneshwor, Kathmandu, Bagmati, Nepal</i
              >
            </div>
            <div class="frame-parent6">
              <div class="boldlocation-parent">
                <img
                  class="outlinearrow-right-icon"
                  alt=""
                  src="./public/boldcall.svg"
                />

                <div class="more-than">Our Contacts</div>
              </div>
              <div class="frame-parent7">
                <div class="mobile-parent">
                  <div class="mobile">Mobile</div>
                  <i class="i">980 5689789</i>
                  <i class="i">9841 275897</i>
                </div>
                <div class="landline-parent">
                  <div class="more-than">Landline</div>
                  <i class="closed">01-4783972</i>
                </div>
              </div>
            </div>
            <div class="frame-parent8">
              <div class="boldlocation-parent">
                <img
                  class="outlinearrow-right-icon"
                  alt=""
                  src="./public/boldclock.svg"
                />

                <div class="more-than">Our Service Time</div>
              </div>
              <div class="frame-parent9">
                <div class="mobile-parent">
                  <div class="more-than">MON - FRI</div>
                  <i class="closed">10 am - 8 pm</i>
                </div>
                <div class="mobile-parent">
                  <div class="more-than">SAT - SUN</div>
                  <i class="closed">Closed</i>
                </div>
              </div>
            </div>
            <div class="get-in-touch-in-social-network-parent">
              <i class="i">Get in touch in social networks</i>
              <div class="ellipse-parent">
                <img
                  class="icbaseline-facebook-icon"
                  alt=""
                  src="./public/icbaselinefacebook.svg"
                />

                <img
                  class="icbaseline-facebook-icon"
                  alt=""
                  src="./public/phinstagramlogofill.svg"
                />

                <img
                  class="icbaseline-facebook-icon"
                  alt=""
                  src="./public/icbaselinetiktok.svg"
                />
              </div>
            </div>
          </div>
          <div class="get-in-touch1">
            <div class="container-field">
              <div class="text-field-parent">
                <div class="text-field">
                  <div class="label-placeholder">
                    <div class="the">First Name</div>
                  </div>
                  <div class="placeholder">
                    <div class="placeholder-place">
                      <div class="placeholder1">
                        <div class="placeholder2"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-field">
                  <div class="label-placeholder">
                    <div class="the">Last Name</div>
                  </div>
                  <div class="placeholder">
                    <div class="placeholder-place">
                      <div class="placeholder1">
                        <div class="placeholder2"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-field2">
                <div class="label-placeholder">
                  <div class="the">Email</div>
                </div>
                <div class="placeholder">
                  <div class="placeholder-place">
                    <div class="placeholder1">
                      <div class="placeholder2"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-field2">
                <div class="label-placeholder">
                  <div class="the">What can we do for you</div>
                </div>
                <div class="placeholder">
                  <div class="placeholder-place3">
                    <div class="placeholder1">
                      <div class="placeholder2">Choose</div>
                    </div>
                    <img
                      class="arrow-caret-down-md"
                      alt=""
                      src="./public/arrow--caret-down-md.svg"
                    />
                  </div>
                </div>
              </div>
              <div class="text-field2">
                <div class="label-placeholder">
                  <div class="the">Phone Number</div>
                </div>
                <div class="placeholder12">
                  <div class="country-code">
                    <img class="flags-icon" alt="" src="./public/flags.svg" />

                    <div class="code">
                      <div class="i">+977</div>
                    </div>
                    <img
                      class="boldarrow-down-icon"
                      alt=""
                      src="./public/boldarrowdown.svg"
                    />
                  </div>
                  <div class="placeholder13"></div>
                </div>
              </div>
              <div class="text-field5">
                <div class="label-placeholder">
                  <div class="the">Message</div>
                </div>
                <div class="placeholder14">
                  <div class="placeholder-place">
                    <div class="placeholder1">
                      <div class="placeholder2"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="button6">
              <div class="large-button">Send Message</div>
            </div>
          </div>
        </div>
      </div>
      <div class="map-wrapper">
        <div class="map">
          <img class="image-icon" alt="" src="./public/map@2x.png" />

          <div class="option">
            <div class="map1">
              <div class="get-direction">Map</div>
            </div>
            <div class="option-child"></div>
            <div class="satellite">
              <div class="satellite1">Satellite</div>
            </div>
          </div>
          <div class="direction">
            <div class="frame-parent10">
              <div class="new-baneshwor-kathmandu-bagm-parent">
                <div class="more-than">
                  New Baneshwor, Kathmandu, Bagmati, Nepal
                </div>
                <div class="get-direction-parent">
                  <div class="get-direction">Get Direction</div>
                  <img
                    class="arrow-caret-down-md"
                    alt=""
                    src="./public/arrow--chevron-right-md.svg"
                  />
                </div>
              </div>
              <img class="vector-icon" alt="" src="./public/vector-1.svg" />
            </div>
            <img
              class="boldlocation-icon1"
              alt=""
              src="./public/boldlocation1.svg"
            />
          </div>
          <div class="buttons">
            <div class="outlineadd-wrapper">
              <img
                class="outlinearrow-right-icon"
                alt=""
                src="./public/outlineadd.svg"
              />
            </div>
            <div class="outlineadd-wrapper">
              <img
                class="outlinearrow-right-icon"
                alt=""
                src="./public/outlineminus.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="footer1">
          <div class="footer-section">
            <div class="logo">
              <div class="logo1">
                <div class="boldlocation-parent">
                  <img class="momo-1-icon" alt="" src="./public/momo-1.svg" />

                  <b class="the">momos</b>
                </div>
              </div>
              <div class="lorem-ipsum-dolor1">
                Lorem ipsum dolor sit amet consectetur. Elit sem tempor egestas
                molestie. Volutpat quis egestas porttitor turpis sit in. Lorem
                nunc nullam morbi urna amet suspendisse nullam ac vivamus.
              </div>
            </div>
            <div class="links-part">
              <div class="link">
                <b class="the">momos</b>
                <div class="links">
                  <div class="label-placeholder">
                    <div class="the">About Us</div>
                  </div>
                  <div class="label-placeholder">
                    <div class="the">Our Menu</div>
                  </div>
                  <div class="label-placeholder">
                    <div class="the">Our Services</div>
                  </div>
                  <div class="label-placeholder">
                    <div class="the">Contact Us</div>
                  </div>
                </div>
              </div>
              <div class="link">
                <b class="the">Legals</b>
                <div class="links">
                  <div class="label-placeholder">
                    <div class="the">Terms & Conditions</div>
                  </div>
                  <div class="label-placeholder">
                    <div class="the">Privacy Policy</div>
                  </div>
                  <div class="label-placeholder">
                    <div class="the">Support</div>
                  </div>
                </div>
              </div>
              <div class="link">
                <b class="the">Follow Us</b>
                <div class="social-icon-parent">
                  <img
                    class="social-icon"
                    alt=""
                    src="./public/social-icon.svg"
                  />

                  <img
                    class="social-icon"
                    alt=""
                    src="./public/social-icon1.svg"
                  />

                  <img
                    class="social-icon"
                    alt=""
                    src="./public/social-icon2.svg"
                  />
                </div>
                <div class="social-icon-parent">
                  <img
                    class="social-icon"
                    alt=""
                    src="./public/social-icon3.svg"
                  />

                  <img
                    class="social-icon"
                    alt=""
                    src="./public/social-icon4.svg"
                  />

                  <img
                    class="social-icon"
                    alt=""
                    src="./public/social-icon5.svg"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="footer-child"></div>
          <div class="copyright-2023-everest">
            Copyright ©️2023 Everest Momo Pvt Ltd. All Rights Reserved.
          </div>
        </div>
      </div>
      <div class="nav-bar">
        <div class="logo3">
          <div class="boldlocation-parent">
            <img
              class="icbaseline-facebook-icon"
              alt=""
              src="./public/momo-11.svg"
            />

            <b class="the">momos</b>
          </div>
        </div>
        <div class="links2">
          <div class="item-link">
            <div class="large-button">About Us</div>
          </div>
          <div class="item-link">
            <div class="large-button">Our Menu</div>
          </div>
          <div class="item-link">
            <div class="large-button">Our Services</div>
          </div>
          <div class="item-link">
            <div class="large-button">Allergy Advice</div>
          </div>
        </div>
        <div class="buttons1">
          <div class="ellipse-parent">
            <img class="social-icon6" alt="" src="./public/social-icon6.svg" />

            <img class="social-icon6" alt="" src="./public/social-icon7.svg" />

            <img class="social-icon6" alt="" src="./public/social-icon8.svg" />
          </div>
          <div class="button7">
            <div class="large-button">Contact Us</div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock%}