{% extends 'content/base.html' %}
{%load static%}

{%block content%}
<div class="images-container">
    <div class="images-container">
        <div>Resturant
        </div>
        <div>The One momo Resturant
        </div>
        <img src="{% static 'images/Ellipse 9.png'%}" alt="Bootstrap" width="400px" height='500px' class="img-fluid">
    </div>

    <div class="eclip">
        <img src="{% static 'images/Ellipse 9.png'%}" alt="Bootstrap" width="400px" height='500px' class="img-fluid">
    </div>
    <div class="momo">
        <img src="{% static 'images/Frame 16.png'%}" alt="Bootstrap" width="422px" height='234px' class="img-fluid">

    </div>
    
</div>
</a>{% endblock%}